body {
    height: 100vh;
}

.cylinder {

    opacity: 0.2;
    --parameter: 40px;
    width: 250px;
    height: 390px;
    background: radial-gradient(50% var(--parameter) at 50% var(--parameter), #5b20ac 99.99% 0), radial-gradient(50% var(--parameter) at 50% calc(100% - var(--parameter)), #5b20ac 99.99%, #000 0) #5300a0;
    border-radius: 100% / calc(var(--parameter) * 2);
    position: absolute;
    bottom: 10px;
}

#text {
    background: #5300a0;
}

.agua {
    --parameter: 30px;
    width: 250px;
    height: 80px;
    background: radial-gradient(50% var(--parameter) at 50% var(--parameter), rgba(0,160,160,0.4) 99.99% 0), radial-gradient(50% var(--parameter) at 50% calc(100% - var(--parameter)), rgba(0,160,160,0.4) 99.99%, aqua 0) aqua;
    border-radius: 100% / calc(var(--parameter) * 2);
    position: absolute;
    bottom: 10px;
	background-color: rgba(0, 160, 160, 0.4);
	content: '';
}

.sensor {
    
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

#sensor1 {
    left: 245px;
    position: absolute;
    bottom: 100px;
    background-color: red;
}

#sensor2 {
    left: 245px;
    position: absolute;
    bottom: 195px;
    background-color: yellow;
}

#sensor3 {

    left: 245px;
    position: absolute;
    bottom: 350px;
    background-color: green;
}